.movies-list {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    min-height: 500px;
    background-color: #C4C4C4;
    margin: auto;
    opacity: 0.1;
}

.movie-search-input {
    position: absolute;
    top: 30%;
    right: 27%;
    width: 68%;
    height: 30px;
    margin-left: 10%;
    margin-bottom: 0px;
    padding: 2px;
    background-color: #efefef;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    outline: none;
    opacity: 0.5;
    z-index: 1;
}

.button-search {
    position: absolute;
    top: 20%;
    right: 18%;
    width: 40px;
    /*height: 30px;*/
    margin-left: 5px;
    margin-bottom: 0px;
    cursor: pointer;
    text-align: center;
    background: transparent;
    color: forestgreen;
    font-family: 'starjedi';
    font-weight: bold;
    /*font-size: 12px;*/
    border: none;
    outline: none;
    z-index: 1;
    transition: transform .03s ease-in-out;
}

.button-search:hover {
    transform: scale(1.1);
}

.button-search:active {
    transform: scale(0.9);
}

.button-img {
    height: 65px;
    margin-left: 20%;
}

.search-panel {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    min-height: 150px;
    margin-top: 5%;
    margin-bottom: 5%;
    
}

.search-panel-img {
    position: absolute;
    top: 25%;
    right: 20%;
    width: 82%;
    margin-top: 0;
    z-index: -1;
}
