:root {
    --star-orange: #FFA813;
    --dark-side-red: #E60813;
    --lightsaber-green: rgb(0, 184, 0);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 16px;
}

/* laptop */
@media (max-width:1024px) {

    html,
    body {
        font-size: 10px;
    }
}

/* tablet */
@media (max-width:768px) {

    html,
    body {
        font-size: 6px;
    }
}

/* phone */
@media (max-width:425px) {

    html,
    body {
        font-size: 4px;
    }
}

@font-face {
    font-family: Star-Jedi;
    src: url(fonts/starjedi/Starjedi.ttf);
}

@font-face {
    font-family: Star-Jedi-Hol;
    src: url(fonts/starjedi/Starjhol.ttf);
}

.b-body {
    background-color: #000000;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url("images/space-1164579.png");
    color: white;
}

.b-body__content {
    width: 100%;
}


h1{
    line-height: 0.7;
}
@media (max-width:425px) {
    h1{
        line-height: 0.6;
    }
}

.header {
    text-align: center;
    box-sizing: border-box;

    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 0.3rem;
}

.header__background--video {
    min-width: 100%;
    max-width: 100%;
    position: absolute;
    z-index: -1;
}

.b-main__image {
    position: absolute;
    width: 14.5rem;
    height: 14.5rem;
    background-size: cover;
    background-position: center;
    margin: 0;
    z-index: -1;

}

.b-main__image-first--back-img {
    background-image: url(images/starwars_PNG56.png);
}

.b-main__image-first--position {
    top: 1%;
    left: 2%;
}

@media (max-width:768px) {
    .b-main__image-first--position {
        top: 1%;
        left: 2%;
    }
}

.b-main__image-second--back-img {
    background-image: url(images/spaceship-2844250_1280.png);
}

.b-main__image-second--position {
    top:50rem;
    left: 42%;
}
@media (min-width:1480px)  {
    .b-main__image-second--position {
        top: 33rem;
        

    }
}
@media (max-width:1024px) {
    .b-main__image-second--position {
        top: 43rem;
        left: 40%;

    }
}
@media (max-width:768px) {
    .b-main__image-second--position {
        top: 38rem;
        left: 40%;

    }
}

@media (max-width:425px) {
    .b-main__image-second--position {
        top: 73rem;
        left: 35%;
        z-index: -5;
    }
}
@media (min-width:2000px) {
    .b-main__image-second--position {
        top:35rem;
        left:65rem;
    }
}

.b-main__image-second--big-size {
    width: 25rem;
    height: 22rem;
}
@media (max-width:425px) {
   .b-main__image-second--big-size {
       width: 35rem;
       height: 35rem;
   }
}
.b-main__image-second--angel {
    transform: rotate(-25deg);
}

.header_caption-first {
    margin-top: 0.5rem;
    font-family: Star-Jedi;
    font-size: 3.5rem;
    -webkit-text-stroke-width: 0.2rem;
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-stroke-color: #ffffff;
}

@media (max-width:425px) {
    .header_caption-first {
        font-size: 3.5rem;

    }
}

.b-header__caption-second {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 0.3rem;
    width: 100%;
    letter-spacing: 0.5rem;
    box-sizing: border-box;
    /* margin-bottom: 1.5rem; */
}

.b-header__content-caption-second {
    line-height: 0.5rem;
    margin: 0 0.8rem;
    /* padding: 4.9rem 0rem; */
    line-height: 0.5rem;
    box-sizing: border-box;
}

.b-header__content-caption-second__header {
    font-size: 15.5rem;
    font-family: Star-Jedi-Hol;
    color: #E60813;
}

@media (max-width:425px) {
    .b-header__content-caption-second__header {
        font-size: 20rem;
        padding: 5rem 0rem;
    }
}

.header__caption-third {
    margin-top: 0.8rem;
    font-family: Star-Jedi;
    font-size: 2.3rem;
    -webkit-text-stroke-width: 0.2rem;
    -webkit-text-stroke-color: #ffffff;
}

@media (max-width:425px) {
    .header__caption-third {
        font-size: 3rem;
        -webkit-text-stroke-width: 0.1rem;
        -webkit-text-stroke-color: #ffffff;
    }
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-section__article {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-section__content-input {
    text-align: center;
    margin-bottom: 5rem;
}
@media (max-width:768px) {
    .main-section__content-input {
        margin-bottom: 10rem;
    }
}
@media (max-width:425px) {
    .main-section__content-input {
        margin-bottom: 15rem;
    }
}

.movie-search-input {
    position: absolute;
    color: white;
    top: 20%;
    left: 20%;
    width: 56%;
    height: 4rem;
    padding: 2%;
    /* margin-bottom: 100px; */
    padding: 1rem;
    border-radius: 5px;
    border: none;
    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif;
    outline: none;
    background: rgba(255, 255, 255, 0.4);
    z-index: 1;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
}

@media (max-width:1024px) {
    .movie-search-input {
        width: 60%;
    }
}

@media (max-width:768px) {
    .movie-search-input {
        height: 6.5rem;
        font-size: 2.5rem;
        width: 65%;
        left: 16%;
    }
}

@media (max-width:425px) {
    .movie-search-input {
        height: 9rem;
        left: 2%;
        width: 90%;
        font-size: 3.5rem;
    }
}

.button-search {
    font-family: Star-Jedi;
    font-size: 1.5rem;
    -webkit-text-stroke-width: 0.1rem;
    -webkit-text-stroke-color: var(--star-orange);
    position: absolute;
    top: 45%;
    right: 21rem;
    width: 40px;
    margin-left: 5px;
    margin-bottom: 0px;
    cursor: pointer;
    text-align: center;
    background: transparent;
    font-weight: bold;
    border: none;
    outline: none;
    z-index: 1;
    font-size: 2rem;
    transition: transform .03s ease-in-out;
}

@media (max-width:1024px) {
    .button-search {
        font-size: 2.5rem;
        top: 7.5rem;
        right: 19rem;
        font-size: 2rem;
    }
}

@media (max-width:768px) {
    .button-search {
        font-size: 3rem;
        top: 11rem;
        right: 22rem;
    }
}

@media (max-width:425px) {
    .button-search {
        height: 5rem;
        font-size: 4rem;
        right: 15%;
        top: 11rem;
        right: 9rem;
    }
}

.button-search:hover {
    transform: scale(1.1);
}

.button-search:active {
    transform: scale(0.9);
}

.button-img {
    position: absolute;
    height: 7.5rem;
    bottom: 65%;
    left: 85%;
}

@media (max-width:1024px) {
    .button-img {
        height: 6rem;
    }
}

@media (max-width:768px) {
    .button-img {
        height: 10rem;
        left: 25%;
    }
}

@media (max-width:425px) {
    .button-img {
        height: 12rem;
        font-size: 3rem;
        left: 8rem;
    }
}

.search-panel {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    min-width: 95%;
    min-height: 10rem;
    display: inline-block;
    box-sizing: border-box;
    max-height: 17rem;
    /* border: solid red; */
}

@media (max-width:786px) {
    .search-panel {
        max-height: 14rem;
    }
}

@media (max-width:425px) {
    .search-panel {
        margin-bottom: 5%;
    }
}

::placeholder {
    /* C
    hrome, Firefox, Opera, Safari 10.1+ */
    color: #000000;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #000000;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #000000;
}

.search-panel-img {
    position: static;
    right: 25rem;
    width: 70%;
    margin-right: 5rem;
    z-index: -1;
}

@media (max-width:1024px) {
    .search-panel-img {
        left: 8rem;
    }
}

@media (max-width:768px) {
    .search-panel-img {
        width: 82%;
    }
}

@media (max-width:425px) {
    .search-panel-img {
        width: 100%;
        margin-top: 2rem;
    }
}

@media (max-width:375px) {
    .search-panel-img {
        margin-top: 3rem;
    }
}

@media (max-width:320px) {
    .search-panel-img {
        margin-top: 5rem;
        width: 95%;
    }
}

.main-section__content-input__caption-nothing-finded {
    font-size: 10rem;
    letter-spacing: 3px;
    font-family: Star-Jedi;
    color: var(--star-orange);
    margin: 0;
    line-height: 10rem;
}

@media (max-width:768px) {
    .main-section__content-input__caption-nothing-finded {
        font-size: 12rem;
        line-height: 14rem;
    }
}

@media (max-width:425px) {
    .main-section__content-input__caption-nothing-finded {
        font-size: 14rem;
         line-height: 17rem;
    }
}

.main-section__content-items {
    position: relative;
    text-align: center;
    margin-top: 2rem;
}

.main-section__content-items--back-color {
    background-color: #000000;
}

.main-section__content-items__list__cards {
    width: 97%;
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: repeat(auto-fill, 30rem);
    justify-content: center;
    margin: 8rem 0 8rem 0;
    align-items: center;
}

@media (max-width:1024px) {
    .main-section__content-items__list__cards {
        grid-template-columns: repeat(auto-fill, 30rem);
        width: 100%;
        grid-gap: 9rem;
    }
}

@media (max-width:768px) {
    .main-section__content-items__list__cards {
        grid-template-columns: repeat(auto-fill, 60rem);
        width: 100%;
        grid-gap: 9rem;
    }
}

@media (max-width:425px) {
    .main-section__content-items__list__cards {
        grid-template-columns: repeat(auto-fill, 65rem);
        width: 100%;
        grid-gap: 9rem;
    }
}

.card {
    width: 30.8rem;
    height: 21rem;
    border-radius: 4%;
    background: white;
    position: relative;
    background-color: black;
    border: solid white 0.5px;
    box-sizing: border-box;
    padding: 1rem;
    background-size: cover;
    box-shadow: #000000, 5px;
    background-position: center;
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.card:hover {
    transform: scale(1.1);
    border: solid var(--dark-side-red) 1px;
}

@media (max-width:1024px) {
    .card {
        width: 30rem;
        height: 30rem;
    }
}

@media (max-width:768px) {
    .card {
        min-height: 40rem;
        min-width: 60rem;
    }
}

@media (max-width:425px) {
    .card {
        /* max-width: 35.8rem; */
        height: 75rem;
    }
}

.card--shadow {
    -webkit-box-shadow: 5px 5px 5px 1px rgba(255, 248, 248, 0.75);
    -moz-box-shadow: 5px 5px 5px 1px rgba(255, 255, 255, 0.75);
    box-shadow: 10px 5px 10px 1px rgba(255, 255, 255, 0.75);
    transition: all 0.2s ease-in-out;
}

.card--shadow:hover{
    -webkit-box-shadow: 5px 5px 5px 1px var(--dark-side-red);
    -moz-box-shadow: 5px 5px 5px 1px var(--dark-side-red);
    box-shadow: 10px 5px 10px 1px var(--dark-side-red);

}

.card--shadow:hover {
    -webkit-box-shadow: 5px 5px 5px 1px var(--dark-side-red);
    -moz-box-shadow: 5px 5px 5px 1px var(--dark-side-red);
    box-shadow: 10px 5px 10px 1px var(--dark-side-red);
}

.card__bacground--transparency {
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    width: 99%;
    min-height: 99%;
    background-color: #000000;
    border-radius: 2%;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.b-card__content {
    position: absolute;
    box-sizing: border-box;
    word-wrap: break-word;
    max-width: 35rem;
}

@media (max-width:1024px) {
    .b-card__content {
        max-width: 25rem;
    }
}
.b-card__header--position{
    top:0.8rem;
}
.b-card__header {
    padding: 0.2rem;
    margin-top: 1rem;
    border-bottom: white 0.01rem solid;
    min-width: 25rem;
    text-align: center;
    box-sizing: border-box;

}
@media (max-width:1024px) {
    .b-card__header--position{
        top:1.3rem;
    }
}
@media (max-width:768px) {
    .b-card__header--position{
        left:8.5rem;
    }
}
@media (max-width:425px) {
    .b-card__header--position{
        left:5.5rem;
    }
}
@media (max-width:768px) {
    .b-card__header {
        padding: 0.5rem;
        min-width: 40rem;
        
    }
}

@media (max-width:425px) {
    .b-card__header {
        margin-top: 3rem;
        min-width: 49rem;
        
    }
}

.b-card__header__caption {
    font-size: 2rem;
    color: var(--star-orange);
    font-family: 'Ubuntu',
        sans-serif;
}

@media (max-width:1024px) {
    .b-card__header__caption {
        font-size: 2.2rem;
    }
}

@media (max-width:768px) {
    .b-card__header__caption {
        font-size: 3rem;
    }
}

@media (max-width:425px) {
    .b-card__header__caption {
        font-size: 4.5rem;
    }
}

.card__subtitle--red {
    color: var(--dark-side-red);
}

.card__subtitle {
    font-size: 1.5rem;
    font-family: 'Lemonada',
        cursive;
    margin: 0;
    padding: 0;
    line-height: 2rem;
}

@media (max-width:1024px) {
    .card__subtitle {
        font-size: 1.8rem;
        min-width: 30rem;
        line-height: 2rem;
    }
}

@media (max-width:768px) {
    .card__subtitle {
        font-size: 3rem;
        min-width: 30rem;
        line-height: 5rem;
    }
}

@media (max-width:425px) {
    .card__subtitle {
        min-width: 30rem;
        line-height: 4rem;
        font-size: 4rem;
        margin-bottom: 2rem;
    }
}

.card__content-director--position {
    top: 6rem;
    left: 0.5rem;
}

@media (max-width:1024px) {
    .card__content-director--position {
        top: 8rem;
        left: -6rem;
    }
}

@media (max-width:768px) {
    .card__content-director--position {
        top: 14rem;
    }
}

@media (max-width:425px) {
    .card__content-director--position {
        top: 25rem;
        left: 1.5rem;
    }
}

.card__content-producer {
    min-width: 20rem;
    min-height: 6.5rem;
    margin: 0;
}
@media (max-width:1024px) {
    .card__content-producer {
        max-width: 21rem;
    }
}

.card__content-producer--position {
    right: 0.5rem;
    top: 10rem;
}

@media (max-width:1024px) {
    .card__content-producer--position {
        top: 13.5rem;
        right: 0.2rem;
    }
}

@media (max-width:768px) {
    .card__content-producer--position {
        top: 18rem;
        right: 10rem;
    }
}

@media (max-width:425px) {
    .card__content-producer--position {
        top: 42rem;
        left: 3rem;
    }
}

.card__content-date {
    min-width: 12rem;
}

@media (max-width:425px) {
    .card__content-date {
        min-width: 45rem;
    }
}

.card__content-date--position {
    bottom: 1.4rem;
    left: 2rem;
}

@media (max-width:1024px) {
    .card__content-date--position {
        bottom: 4.4rem;
        left: -4rem;
    }
}

@media (max-width:768px) {
    .card__content-date--position {
        left: 2.5rem;
    }
}

@media (max-width:425px) {
    .card__content-date--position {
        bottom: 4.4rem;
    }
}

.card__subtitle__name {
    font-family: 'Ubuntu',
        sans-serif;
    font-size: 1.3rem;
    margin: 0 0 0 8rem;
    max-width: 12rem;
}

@media (max-width:1024px) {
    .card__subtitle__name {
        margin: 0 0 0 10rem;
        font-size: 1.4rem;
    }
}

@media (max-width:768px) {
    .card__subtitle__name {
        font-size: 8rem;
        max-width: 40rem;
        margin: 0 0 0 8rem;
        font-size: 2.2rem;
    }
}

@media (max-width:425px) {
    .card__subtitle__name {
        margin: 1rem;
        min-width: 45rem;
        margin: 0 0 0 9rem;
        font-size: 3.3rem;
    }
}

.card__subtitle__name--white {
    color: white;
}

.card__background-first--image {
    background-image: url(images/4oh3plg-free-star-wars-wallpaper.jpg);
}

.card__background-second--image {
    background-image: url(images/5QqOnXd-free-star-wars-wallpaper.jpg);

}

.card__background-third--image {
    background-image: url(images/ALTwMNx-free-star-wars-wallpapers.jpg)
}

.card__background-fourth--image {
    background-image: url(images/prnDtZE-free-star-wars-wallpapers.jpg);
}

.card__background-fifth--image {
    background-image: url(images/VCHc7zT-free-star-wars-wallpapers.jpg);
}

.card__background-sixth--image {
    background-image: url(images/WHY12jS-free-star-wars-wallpaper.jpg);
}

nav {
    display: flex;
    justify-content: space-between;
}

#navMenu {
    display: flex;
}

.navElement {
    margin: 5px;
    font-family: Star-Jedi-hol;
    font-size: 1.5rem;
    transition: all 0.2s ease-in-out;
}

@media (max-width:768px) {
    .navElement{
        font-size: 2.6rem;
    }
}

.navElement:hover {
    color: var(--lightsaber-green);
    text-shadow: 0 0 10px var(--lightsaber-green);
}


.selected{
    color: var(--dark-side-red);
    text-shadow: 0 0 10px var(--dark-side-red);
}

.title {
    text-align: center;
    font-size: 2.5rem;
    font-family: Star-Jedi-hol;
    color: var(--star-orange);
    margin: 20px;
}
@media (max-width:768px) {
   .title {
        font-size: 8rem;
    }
}

.row {
    margin: 20px;
}

.info {
    text-align: center;
}

.info header {
    font-family: Star-Jedi-hol;
    color: var(--dark-side-red);
    font-size: 2rem;
}
@media (max-width:768px) {
    .info header {
        font-size: 3.9rem;
    }
}
@media (max-width:425px) {
    .info header {
        font-size: 4.5rem;
    }
}

.info span {
    font-family: Star-Jedi;
}
@media (max-width:768px) {
    .info span {
        font-size: 3rem;
    }
}
@media (max-width:425px) {
    .info span {
        font-size: 4rem;
    }
}
.categoryName {
    font-family: Star-Jedi-hol;
    color: var(--star-orange);
    font-size: 3rem;
    margin: 20px;
}
@media (max-width:768px) {
   .categoryName {
        font-size: 4rem;
    }
}

@media (max-width:425px) {
   .categoryName {
        font-size: 5rem;
    }
}

.category {
    font-family: Star-Jedi-Hol;
    font-size: 1.8rem;
    color: white;
    text-align: center;
    padding: 50px 0;
    margin: 50px 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    transition: all 0.2s ease-in-out;
}
@media (max-width:768px) {
    .category {
        font-size: 3.8rem;
    }
}

.category:hover{
    color: var(--lightsaber-green);
}

.outline {
    position: relative;
    text-shadow: 0 0 10px black;
    z-index: 1;
}
@media (max-width:768px) {
    .outline {
        font-size: 3.8rem;
    }
}
@media (max-width:425px) {
    .outline {
        font-size: 4.8rem;
    }
}

.black {
    position: absolute;
    font-family: Star-Jedi;
    color: black;
    z-index: -1;
    left: 1px;
}
@media (max-width:768px) {
    .black {
        font-size: 3.8rem;
    }
}
@media (max-width:425px) {
    .black {
        font-size: 4.8rem;
    }
}



.charactersCategory {
    background-image: url("images/star-wars-2463926_1920.png");
}

.starshipsCategory {
    background-image: url("images/spaceship-2844248_1280.png");
}

.vehiclesCategory {
    background-image: url("images/starwars_PNG46.png");
}

.planetsCategory {
    background-image: url("images/isolated-1513342_1920.png");
}

.residentsCategory{
    background-image: url("images/kisspng-luke-skywalker-stormtrooper-jar-jar-binks-han-solo-5af2ce75eb0906.5083965915258620059627.png");
}

.filmsCategory{
    background-image: url("images/pngguru.com-id-kfsny.png");
}

.pilotsCategory{
    background-image: url("images/luke-skywalker-boba-fett-anakin-skywalker-rey-wedge-antilles-pilot.png");
}

.element, .loading{
    text-align: center;
    font-size: 1.5rem;
    font-family: Star-Jedi;
    transition: all 0.2s ease-in-out;
}
@media (max-width:768px) {
    .element,
    .loading {
        font-size: 3.8rem;
    }
}

@media (max-width:425px) {
    .element,
    .loading {
        font-size: 4.8rem;
    }
}

.element:hover {
    color: var(--lightsaber-green);
}

.nothing{
    margin: auto;
    font-size: 2rem;
    font-family: Star-Jedi;
}
