@font-face {
    font-family: Star-Jedi;
    src: url(fonts/starjedi/Starjedi.ttf);
}

@font-face {
    font-family: Star-Jedi-Hol;
    src: url(fonts/starjedi/Starjhol.ttf);
}

:root {
    --star-orange: #FFA813;
    --dark-side-red: #E60813;
    --lightsaber-green: rgb(0, 184, 0);
}

.b-body {
    position: relative;
    color: white;
    background-image: url("images/space-1164579.png");
}

.b-body__content {
    width: 100%;
}

.header {
    text-align: center;
    line-height: 0rem;
    box-sizing: border-box;
    margin: 1rem;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.header__background--video {
    min-width: 100%;
    max-width: 100%;
    position: absolute;
    z-index: -1;
}

.b-main__image {
    position: absolute;
    width: 14.5rem;
    height: 14.5rem;
    background-size: cover;
    background-position: center;
    margin: 0;

}

.b-main__image-first--back-img {
    background-image: url(images/starwars_PNG56.png);
}

.b-main__image-first--position {
    top: 5%;
    left: 2%;
}

.b-main__image-second--back-img {

    background-image: url(images/spaceship-2844250_1280.png);
}

.b-main__image-second--position {
    top: 56%;
    left: 40%;
}

.b-main__image-second--big-size {
    width: 25rem;
    height: 22rem;
}

.b-main__image-second--angel {
    transform: rotate(-25deg);
}

.header_caption-first {
    font-family: Star-Jedi-Hol;
    font-size: 3rem;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #2999D4;
    -webkit-text-stroke-color: #ffffff;
}

.b-header__caption-second {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.b-header__content-caption-second {
    padding: 4rem;
    margin-bottom: 1rem;

}

.b-header__content-caption-second__header {
    font-family: Star-Jedi-Hol;
    font-size: 10.5rem;
    color: #E60813;
    margin: 0;
}

.header__caption-third {
    font-family: Star-Jedi-Hol;
    font-size: 2rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #ffffff;
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-section__article {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}

.main-section__content-input {
    /* min-height: 15rem; */
    text-align: center;
}

.movie-search-input {
    position: absolute;
    top: 35%;
    left: 5%;
    width: 80%;
    height: 25%;
    padding: 2%;
    margin-bottom: 0px;
    padding: 2px;
    border-radius: 5px;
    border: none;
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
    outline: none;
    background: rgba(255, 255, 255, 0.4);
    z-index: 1;
    padding: 2%;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
}

.button-search {
    font-family: Star-Jedi;
    font-size: 1.5rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--star-orange);
    position: absolute;
    bottom: 18%;
    right: 6%;
    width: 40px;
    margin-left: 5px;
    margin-bottom: 0px;
    cursor: pointer;
    text-align: center;
    background: transparent;
    font-weight: bold;
    border: none;
    outline: none;
    z-index: 1;
    transition: transform .03s ease-in-out;
}

.button-search:hover {
    transform: scale(1.1);
}

.button-search:active {
    transform: scale(0.9);
}

.button-img {
    position: absolute;
    height: 6.5rem;
    bottom: 65%;
    left: 50%;
    /* margin-left: 20%; */
}

.search-panel {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    min-width: 60rem;
    min-height: 10rem;
    margin-bottom: 5%;
    padding: 2%;
    display: inline-block;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000000;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #000000;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #000000;
}

.search-panel-img {
    position: absolute;
    top: 20%;
    right: 5%;
    width: 100%;
    margin-top: 0;
    z-index: -1;
}

.main-section__content-input__caption-nothing-finded {
    position: absolute;
    color: white;
    font-size: 8rem;
    margin: 1%;
    font-family: Star-Jedi;
    color: var(--star-orange);
    margin: 0;
    margin-top: 2%;
    top: 55%;
}

.main-section__content-items {
    position: relative;
    text-align: center;
    margin-top: 10rem;
}


.main-section__content-items__list__cards {
    width: 97%;
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: repeat(auto-fill, 27rem);
    justify-content: center;
    margin: 8rem 0 8rem 0;
    align-items: center;
}

.card {
    width: 24.8rem;
    height: 19rem;
    border-radius: 4%;
    background: white;
    position: relative;
    background-color: black;
    border: solid white 1px;
    box-sizing: border-box;
    padding: 1rem;
    width: 100%;
    background-size: cover;
    box-shadow: #000000, 5px;
    background-position: center;
    transition: all 0.2s ease-in-out;
}


.card:hover {
    transform: scale(1.1);
    border: solid var(--dark-side-red) 1px;
}

.card--shadow {
    -webkit-box-shadow: 5px 5px 5px 1px rgba(255, 248, 248, 0.75);
    -moz-box-shadow: 5px 5px 5px 1px rgba(255, 255, 255, 0.75);
    box-shadow: 10px 5px 10px 1px rgba(255, 255, 255, 0.75);
    transition: all 0.2s ease-in-out;
}

.card--shadow:hover{
    -webkit-box-shadow: 5px 5px 5px 1px var(--dark-side-red);
    -moz-box-shadow: 5px 5px 5px 1px var(--dark-side-red);
    box-shadow: 10px 5px 10px 1px var(--dark-side-red);
}

.card__bacground--transparency {
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    width: 99%;
    min-height: 99%;
    background-color: #000000;
    border-radius: 2%;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.b-card__content {
    position: absolute;
    box-sizing: border-box;
    word-wrap: break-word;
    max-width: 14rem;
}

.b-card__header {
    border-bottom: white 0.01rem solid;
    min-width: 20rem;
    text-align: center;
    /* padding: 0.5rem; */
    box-sizing: border-box;
    line-height: 0.5rem;

}

.b-card__header__caption {
    font-size: 28px;
    color: var(--star-orange);
    font-family: 'Ubuntu',
        sans-serif;
}

.b-card__header--position {
    top: 1rem;
    left: 4.3rem;

}

.card__subtitle--red {
    color: var(--dark-side-red);
}


.card__subtitle {
    font-size: 22px;
    font-family: 'Lemonada',
        cursive;
    margin: 0;
    padding: 0;
    line-height: 2rem;

}

.card__content-director--position {
    top: 6rem;
    left: 0.5rem;
}

.card__content-producer {
    min-width: 12rem;
    min-height: 6.5rem;
    margin: 0;
}

.card__content-producer--position {
    right: 2rem;
    top: 8.5rem;
}

.card__content-date {
    min-width: 12rem;
    /* border: solid red; */
}

.card__content-date--position {
    bottom: 1.4rem;
    left: 2rem;
}

.card__subtitle__name {
    font-family: 'Ubuntu',
        sans-serif;
    font-size: 19px;
    margin: 0 0 0 3rem;
}

.card__subtitle__name--white {
    color: white;
}

.card__background-first--image {
    background-image: url(images/4oh3plg-free-star-wars-wallpaper.jpg);
}

.card__background-second--image {
    background-image: url(images/5QqOnXd-free-star-wars-wallpaper.jpg);

}

.card__background-third--image {
    background-image: url(images/ALTwMNx-free-star-wars-wallpapers.jpg)
}

.card__background-fourth--image {
    background-image: url(images/prnDtZE-free-star-wars-wallpapers.jpg);
}

.card__background-fifth--image {
    background-image: url(images/VCHc7zT-free-star-wars-wallpapers.jpg);
}

.card__background-sixth--image {
    background-image: url(images/WHY12jS-free-star-wars-wallpaper.jpg);
}

nav {
    display: flex;
    justify-content: space-between;
}

#navMenu {
    display: flex;
}

.navElement {
    margin: 5px;
    font-family: Star-Jedi-hol;
    font-size: 1.5rem;
    transition: all 0.2s ease-in-out;
}

.navElement:hover {
    color: var(--lightsaber-green);
    text-shadow: 0 0 10px var(--lightsaber-green);
}

.selected{
    color: var(--dark-side-red);
    text-shadow: 0 0 10px var(--dark-side-red);
}

.title {
    text-align: center;
    font-size: 2.5rem;
    font-family: Star-Jedi-hol;
    color: var(--star-orange);
    margin: 20px;
}

.row {
    margin: 20px;
}

.info {
    text-align: center;
}

.info header {
    font-family: Star-Jedi-hol;
    color: var(--dark-side-red);
    font-size: 1.5rem;
}

.info span {
    font-family: Star-Jedi;
}

.categoryName {
    font-family: Star-Jedi-hol;
    color: var(--star-orange);
    font-size: 3rem;
    margin: 20px;
}

.category {
    font-family: Star-Jedi-Hol;
    font-size: 1.8rem;
    color: white;
    text-align: center;
    padding: 50px 0;
    margin: 50px 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    transition: all 0.2s ease-in-out;
}

.category:hover{
    color: var(--lightsaber-green);
}

.outline {
    position: relative;
    text-shadow: 0 0 10px black;
    z-index: 1;
}

.black {
    position: absolute;
    font-family: Star-Jedi;
    color: black;
    z-index: -1;
    left: 1px;
}

.charactersCategory {
    background-image: url("images/star-wars-2463926_1920.png");
}

.starshipsCategory {
    background-image: url("images/spaceship-2844248_1280.png");
}

.vehiclesCategory {
    background-image: url("images/starwars_PNG46.png");
}

.planetsCategory {
    background-image: url("images/isolated-1513342_1920.png");
}

.residentsCategory{
    background-image: url("images/kisspng-luke-skywalker-stormtrooper-jar-jar-binks-han-solo-5af2ce75eb0906.5083965915258620059627.png");
}

.filmsCategory{
    background-image: url("images/pngguru.com-id-kfsny.png");
}

.pilotsCategory{
    background-image: url("images/luke-skywalker-boba-fett-anakin-skywalker-rey-wedge-antilles-pilot.png");
}

.element, .loading{
    text-align: center;
    font-size: 1.5rem;
    font-family: Star-Jedi;
    transition: all 0.2s ease-in-out;
}

.element:hover {
    color: var(--lightsaber-green);
}

.nothing{
    margin: auto;
    font-size: 2rem;
    font-family: Star-Jedi;
}
