.movies-list {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    min-height: 500px;
    background-color: #C4C4C4;
    margin: auto;
}

.movie-search-input {
    max-width: 400px;
    height: 25px;
    margin-left: 10%;
    margin-bottom: 5px;
    background-color: #efefef;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
}

.button-search {
    width: 80px;
    height: 30px;
    margin-left: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    text-align: center;
    background-color: forestgreen;
    color: #FFF;
    font-weight: bold;
    font-size: 12px;
    border: 1px solid forestgreen;
    border-radius: 5px;
    outline: none;
    transition: transform .03s ease-in-out;
}

.button-search:hover {
    background-color: #e1e1e1;
    color: forestgreen;
}

.button-search:active {
    transform: scale(0.9);
}