@font-face{
    font-family: Star-Jedi;
    src: url(fonts/starjedi/Starjedi.ttf);
}

@font-face {
    font-family: Star-Jedi-Hol;
    src: url(fonts/starjedi/Starjhol.ttf);
}
.b-body{
    background-color: #000000;
    position: relative;
}
.b-body__content {
    width: 100%;
}

.header{
    text-align: center;
    line-height: 0rem;
    box-sizing: border-box;
    margin: 1rem;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__background--video{
    min-width: 100%;
    max-width: 100%;
    position: absolute;
    z-index: -1;
}
.b-header__image{
    position: absolute;
    width: 10vw;
    height: 10vw;
    background-size: cover; 
    background-position: center;
}
.b-header__image-first--back-img {
    background-image: url(images/starwars_PNG56.png);
}
.b-header__image-first--position {
    top: 2rem;
    left: 2rem;
}
.b-header__image-second--back-img{
    background-image: url(images/spaceship-2844250_1280.png);
}
.b-header__image-second--position{
    top: 28rem;
    left:40%;
}
.b-header__image-second--big-size{
    width: 15vw;
    height: 15vw;
}

.b-header__image-second--angel{
  transform: rotate(-25deg);
}

 .header_caption-first{
     font-family: Star-Jedi;
     font-size: 3rem;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color:#2999D4;
    -webkit-text-stroke-color:#ffffff;
 }
.b-header__caption-second{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
 .b-header__content-caption-second{
     padding: 4rem; 
     margin-bottom: 3rem;
    
 }
.b-header__content-caption-second__header{
    font-family: Star-Jedi-Hol;
    font-size: 13.5rem;
    color:#E60813;
    margin: 0;
}

.header__caption-third{
    font-family: Star-Jedi;
    font-size: 2rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color:#ffffff;
}
.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main-section__article{
   width: 100%;
   
}
.main-section__content-input{
    min-height: 15rem;
    text-align: center; 
}
.movie-search-input {
    position: absolute;
    top: 30%;
    right: 27%;
    width: 68%;
    height: 30px;
    margin-left: 10%;
    margin-bottom: 0px;
    padding: 2px;
    background-color: #efefef;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    outline: none;
    opacity: 0.5;
    z-index: 1;
}

.button-search {
    position: absolute;
    top: 20%;
    right: 18%;
    width: 40px;
    /*height: 30px;*/
    margin-left: 5px;
    margin-bottom: 0px;
    cursor: pointer;
    text-align: center;
    background: transparent;
    color: forestgreen;
    font-family: 'starjedi';
    font-weight: bold;
    /*font-size: 12px;*/
    border: none;
    outline: none;
    z-index: 1;
    transition: transform .03s ease-in-out;
}

.button-search:hover {
    transform: scale(1.1);
}

.button-search:active {
    transform: scale(0.9);
}

.button-img {
    height: 65px;
    margin-left: 20%;
}

.search-panel {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    min-height: 150px;
    margin-bottom: 5%;
    margin-top: 2%;

}
.search-panel-img {
    position: absolute;
    top: 25%;
    right: 20%;
    width: 82%;
    margin-top: 0;
    z-index: -1;
}

.main-section__content-items{
    position: relative;
    text-align: center;
    margin-top: 4rem;
}
.main-section__content-items--back-color{
    background-color: #000000;
}
.main-section__content-input__caption-nothing-finded{
    color: white;
    font-size: 8rem;
    margin: 0;
    font-family: Star-Jedi;
    color: #FFA813;
    margin-top: 10rem;
}
.main-section__content-items__list__cards{
    width: 97%;
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: repeat(auto-fill, 27rem);
    justify-content: center;
    margin: 8rem 0 8rem 0 ;
    align-items: center;
}
.card{
    width: 24.8rem;
    height: 19rem;
    border-radius: 4%;
    background: white;
    position: relative;
    background-color: black;
    border: solid white 0.5px;
    box-sizing: border-box;
    padding: 1rem;
    width: 100%;
    background-size: cover;
    box-shadow: #000000,5px;
    background-position: center;
     /* filter: grayscale(1); */
}
.card--shadow{
    -webkit-box-shadow: 5px 5px 5px 1px rgba(255, 248, 248, 0.75);
    -moz-box-shadow: 5px 5px 5px 1px rgba(255, 255, 255, 0.75);
    box-shadow: 10px 5px 10px 1px rgba(255, 255, 255, 0.75);
}
.card__bacground--transparency{
    position: absolute;
    top:0.2rem;
    left: 0.2rem;
    width: 99%;
    min-height: 99%;
    border: solid red;
    background-color: #000000;
    border-radius: 2%;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.b-card__content{
    position: absolute;
    box-sizing: border-box;
    word-wrap: break-word;
    max-width: 14rem;
}
.b-card__header{
    border-bottom: white 0.01rem solid ;
    min-width: 20rem; 
    text-align: center; 
    /* padding: 0.5rem; */
    box-sizing: border-box;
    line-height:0.5rem;
    
}
.b-card__header__caption{
     font-size: 28px;
     color:#FFA813;
     font-family: 'Ubuntu',
     sans-serif;
}

.b-card__header--position{
    top:1rem;
    left:4.3rem;
    
}
.card__subtitle--red {
    color: #E60813;
}


.card__subtitle{
    font-size: 22px;
    font-family: 'Lemonada',
    cursive;
    margin: 0;
    padding: 0;
    line-height:2rem;
    
}
.card__content-director--position{
    top:6rem;
    left:0.5rem;
}
.card__content-producer{
    min-width: 12rem;
    min-height: 6.5rem;
    margin: 0;
}
.card__content-producer--position{
    right: 2rem;
    top:8.5rem;
}
.card__content-date{
    min-width: 12rem;
    /* border: solid red; */
}
.card__content-date--position {
    bottom: 1.4rem;
    left:2rem;
}
.card__subtitle__name{
    font-family: 'Ubuntu',
    sans-serif;
    font-size: 19px;
    margin: 0 0 0 3rem;
}
.card__subtitle__name--white {
    color: white;
}
.card__background-first--image{
    background-image: url(images/4oh3plg-free-star-wars-wallpaper.jpg);   
}
.card__background-second--image{
    background-image: url(images/5QqOnXd-free-star-wars-wallpaper.jpg);
    
}
.card__background-third--image{
    background-image: url(images/ALTwMNx-free-star-wars-wallpapers.jpg)
}
.card__background-fourth--image{
    background-image: url(images/prnDtZE-free-star-wars-wallpapers.jpg);
}
.card__background-fifth--image{
    background-image: url(images/VCHc7zT-free-star-wars-wallpapers.jpg);
}
.card__background-sixth--image{
    background-image: url(images/WHY12jS-free-star-wars-wallpaper.jpg);
}

